<head>
 <!--Tarayıcımızın mobil için optimize olduğunu anlaması için-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  
  <!-- CSS -->
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="style.css">

 </head>
          
</head>
<body  ng-app="MyApp" class="gridListdemoBasicUsage" ng-controller="AppCtrl as appCtrl"  layout="column">

<main>

<md-toolbar md-scroll-shrink ng-if="true" ng-controller="TitleController">
  <div class="md-toolbar-tools">
    <h3>
      <span>{{title}}</span>
    </h3>
  </div>
</md-toolbar>

<div class="container">

<div layout="row" layout-align="space-between center" id="filters">
  <p>
    <md-select placeholder="İlçe Seçiniz" id="ilce-filter"  ng-model="query.ilce" >
      <md-option value>Hepsi</md-option>
      <md-option value=Ümraniye>Ümraniye</md-option>
      <md-option value=Kağıthane>Kağıthane</md-option>
      <md-option value=Beylikdüzü>Beylikdüzü</md-option>
      <md-option value=Maltepe>Maltepe</md-option>
      <md-option value=Avcılar>Avcılar</md-option>
      <md-option value=Şişli>Şişli</md-option>
      <md-option value=Üsküdar>Üsküdar</md-option>
      <md-option value=Ataşehir>Ataşehir</md-option>
      <md-option value=Sarıyer>Sarıyer</md-option>
    </select>
  </p>
  <p>
    <md-select placeholder="Oda Sayısı" id="oda-filter" ng-model="query.oda">
      <md-option value>Hepsi</md-option>
      <md-option value="2+1">2+1</md-option>
      <md-option value="3+1">3+1</md-option>
      <md-option value="5+4">5+4</md-option>
      <md-option value="1+1">1+1</md-option>
      <md-option value="3+2">3+2</md-option>
      <md-option value="4+2">4+2</md-option>
      <md-option value="4+4">4+4</md-option>
    </md-select>
  </p>
  <p>
    <md-select placeholder="Kat" id="fiyat-filter" ng-model="query.kat">
      <md-option value>Hepsi</md-option>
      <md-option value="1">1</md-option>
      <md-option value="2">2</md-option>
      <md-option value="3">3</md-option>
      <md-option value="4">4</md-option>
      <md-option value="5">5</md-option>
      <md-option value="6">6</md-option>
      <md-option value="7">7</md-option>
    </md-select>
  </p>
 
</div>

<center>
  <md-button class="md-raised md-primary" id="clear-filter" ng-click="clearFilter()" type="button">Temizle</md-button>
</center>
  


  <div layout="row"  layout-wrap>
    <md-card flex-sm="30" flex-gt-sm="30" flex="100" ng-repeat="item in ozellikler | filter:query ">
       <img  ng-src={{item.resim}} class="md-card-image" alt={{item.il}}>
     
        <md-card-title >
          <md-card-title-text>
            <span class="md-subhead" style="color:#1b86e8;">{{item.ilce}},{{item.il}}</span> </br>
            <span class="md-title" style="color:#101f78">{{item.isim}}</span>
            <p class ='grey-text' style="color: #1b86e8">{{item.fiyat}}.000₺</p>
          </md-card-title-text>
        </md-card-title>
        
        <div layout="row">
          
          <div flex="" id="flex1">
             <md-icon aria-label="Menu" class="material-icons" style="color: red" >dashboard</md-icon> <span class='grey-text'>{{item.oda}} </span>
          </div>
         
          <div flex="" id="flex2">
            <md-icon aria-label="Menu" class="material-icons" style="color: red">home</md-icon>
            <span class='grey-text'>{{item.metrekare}}m² </span>
          </div>

          <div flex="" id="flex3" >
            <md-icon aria-label="Menu" class="material-icons" style="color:red">business</md-icon>
            <span class='grey-text'>{{item.kat}}.Kat </span>
          </div>
          
        </div>

        <div layout="row">
          <div flex id="flex4" ng-style="{'background-image':'url({{hurriyet.img}})',}"></div>
          <div flex id="flex5" ng-style="{'background-image':'url({{sahibinden.img}})',}"></div>
        </div>

    </md-card>
  </div>
</div> 
 
</main>                                       
                                                        
<!-- JS -->
  
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
  <script src="script.js"></script>

  <!-- Kütüphane -->
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
 </body>
                                           
                                           